/.idea/.idea.UserCacheService/.idea/.name
/Tests/Tests.EnviromentBuilder/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Tests/UserCacheService.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/UserCacheService/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/UserCacheService.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/UserCacheService.Console/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/UserCacheService.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/UserCacheService.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.idea/.idea.UserCacheService/.idea/encodings.xml
/global.json
/.idea/.idea.UserCacheService/.idea/indexLayout.xml
/Tests/Tests.EnviromentBuilder/obj/project.assets.json
/Tests/UserCacheService.Tests/obj/project.assets.json
/UserCacheService/obj/project.assets.json
/UserCacheService.Application/obj/project.assets.json
/UserCacheService.Console/obj/project.assets.json
/UserCacheService.Domain/obj/project.assets.json
/UserCacheService.Infrastructure/obj/project.assets.json
/Tests/Tests.EnviromentBuilder/obj/project.nuget.cache
/Tests/UserCacheService.Tests/obj/project.nuget.cache
/UserCacheService/obj/project.nuget.cache
/UserCacheService.Application/obj/project.nuget.cache
/UserCacheService.Console/obj/project.nuget.cache
/UserCacheService.Domain/obj/project.nuget.cache
/UserCacheService.Infrastructure/obj/project.nuget.cache
/Tests/Tests.EnviromentBuilder/obj/project.packagespec.json
/Tests/UserCacheService.Tests/obj/project.packagespec.json
/UserCacheService/obj/project.packagespec.json
/UserCacheService.Application/obj/project.packagespec.json
/UserCacheService.Console/obj/project.packagespec.json
/UserCacheService.Domain/obj/project.packagespec.json
/UserCacheService.Infrastructure/obj/project.packagespec.json
/Tests/Tests.EnviromentBuilder/obj/rider.project.model.nuget.info
/Tests/UserCacheService.Tests/obj/rider.project.model.nuget.info
/UserCacheService/obj/rider.project.model.nuget.info
/UserCacheService.Application/obj/rider.project.model.nuget.info
/UserCacheService.Console/obj/rider.project.model.nuget.info
/UserCacheService.Domain/obj/rider.project.model.nuget.info
/UserCacheService.Infrastructure/obj/rider.project.model.nuget.info
/Tests/Tests.EnviromentBuilder/obj/rider.project.restore.info
/Tests/UserCacheService.Tests/obj/rider.project.restore.info
/UserCacheService/obj/rider.project.restore.info
/UserCacheService.Application/obj/rider.project.restore.info
/UserCacheService.Console/obj/rider.project.restore.info
/UserCacheService.Domain/obj/rider.project.restore.info
/UserCacheService.Infrastructure/obj/rider.project.restore.info
/Tests/Tests.EnviromentBuilder/obj/Debug/net6.0/Tests.EnviromentBuilder.AssemblyInfoInputs.cache
/Tests/Tests.EnviromentBuilder/obj/Debug/net6.0/Tests.EnviromentBuilder.assets.cache
/Tests/Tests.EnviromentBuilder/obj/Debug/net6.0/Tests.EnviromentBuilder.csproj.AssemblyReference.cache
/Tests/Tests.EnviromentBuilder/obj/Tests.EnviromentBuilder.csproj.nuget.dgspec.json
/Tests/Tests.EnviromentBuilder/obj/Tests.EnviromentBuilder.csproj.nuget.g.props
/Tests/Tests.EnviromentBuilder/obj/Tests.EnviromentBuilder.csproj.nuget.g.targets
/Tests/Tests.EnviromentBuilder/obj/Debug/net6.0/Tests.EnviromentBuilder.GeneratedMSBuildEditorConfig.editorconfig
/Tests/Tests.EnviromentBuilder/obj/Debug/net6.0/Tests.EnviromentBuilder.GlobalUsings.g.cs
/UserCacheService.Application/obj/Debug/net6.0/UserCacheService.Application.AssemblyInfo.cs
/UserCacheService.Application/obj/Debug/net6.0/UserCacheService.Application.AssemblyInfoInputs.cache
/UserCacheService.Application/obj/Debug/net6.0/UserCacheService.Application.assets.cache
/UserCacheService.Application/obj/Debug/net6.0/UserCacheService.Application.csproj.AssemblyReference.cache
/UserCacheService.Application/obj/UserCacheService.Application.csproj.nuget.dgspec.json
/UserCacheService.Application/obj/UserCacheService.Application.csproj.nuget.g.props
/UserCacheService.Application/obj/UserCacheService.Application.csproj.nuget.g.targets
/UserCacheService.Application/obj/Debug/net6.0/UserCacheService.Application.GeneratedMSBuildEditorConfig.editorconfig
/UserCacheService.Application/obj/Debug/net6.0/UserCacheService.Application.GlobalUsings.g.cs
/UserCacheService/obj/Debug/net6.0/UserCacheService.AssemblyInfo.cs
/UserCacheService/obj/Debug/net6.0/UserCacheService.AssemblyInfoInputs.cache
/UserCacheService/obj/Debug/net6.0/UserCacheService.assets.cache
/UserCacheService.Console/obj/Debug/net6.0/UserCacheService.Console.AssemblyInfo.cs
/UserCacheService.Console/obj/Debug/net6.0/UserCacheService.Console.AssemblyInfoInputs.cache
/UserCacheService.Console/obj/Debug/net6.0/UserCacheService.Console.assets.cache
/UserCacheService.Console/obj/Debug/net6.0/UserCacheService.Console.csproj.AssemblyReference.cache
/UserCacheService.Console/obj/UserCacheService.Console.csproj.nuget.dgspec.json
/UserCacheService.Console/obj/UserCacheService.Console.csproj.nuget.g.props
/UserCacheService.Console/obj/UserCacheService.Console.csproj.nuget.g.targets
/UserCacheService.Console/obj/Debug/net6.0/UserCacheService.Console.GeneratedMSBuildEditorConfig.editorconfig
/UserCacheService.Console/obj/Debug/net6.0/UserCacheService.Console.GlobalUsings.g.cs
/UserCacheService/obj/Debug/net6.0/UserCacheService.csproj.AssemblyReference.cache
/UserCacheService/obj/UserCacheService.csproj.nuget.dgspec.json
/UserCacheService/obj/UserCacheService.csproj.nuget.g.props
/UserCacheService/obj/UserCacheService.csproj.nuget.g.targets
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.AssemblyInfo.cs
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.AssemblyInfoInputs.cache
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.assets.cache
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.csproj.AssemblyReference.cache
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.csproj.CoreCompileInputs.cache
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.csproj.FileListAbsolute.txt
/UserCacheService.Domain/obj/UserCacheService.Domain.csproj.nuget.dgspec.json
/UserCacheService.Domain/obj/UserCacheService.Domain.csproj.nuget.g.props
/UserCacheService.Domain/obj/UserCacheService.Domain.csproj.nuget.g.targets
/UserCacheService.Domain/bin/Debug/net6.0/UserCacheService.Domain.deps.json
/UserCacheService.Domain/bin/Debug/net6.0/UserCacheService.Domain.dll
/UserCacheService.Domain/obj/Debug/net6.0/ref/UserCacheService.Domain.dll
/UserCacheService.Domain/obj/Debug/net6.0/refint/UserCacheService.Domain.dll
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.dll
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.GeneratedMSBuildEditorConfig.editorconfig
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.GlobalUsings.g.cs
/UserCacheService.Domain/bin/Debug/net6.0/UserCacheService.Domain.pdb
/UserCacheService.Domain/obj/Debug/net6.0/UserCacheService.Domain.pdb
/UserCacheService/obj/Debug/net6.0/UserCacheService.GeneratedMSBuildEditorConfig.editorconfig
/UserCacheService/obj/Debug/net6.0/UserCacheService.GlobalUsings.g.cs
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.AssemblyInfo.cs
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.AssemblyInfoInputs.cache
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.assets.cache
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.csproj.AssemblyReference.cache
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.csproj.CoreCompileInputs.cache
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.csproj.FileListAbsolute.txt
/UserCacheService.Infrastructure/obj/UserCacheService.Infrastructure.csproj.nuget.dgspec.json
/UserCacheService.Infrastructure/obj/UserCacheService.Infrastructure.csproj.nuget.g.props
/UserCacheService.Infrastructure/obj/UserCacheService.Infrastructure.csproj.nuget.g.targets
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.GlobalUsings.g.cs
/UserCacheService.Infrastructure/obj/Debug/net6.0/UserCacheService.Infrastructure.MvcApplicationPartsAssemblyInfo.cache
/Tests/UserCacheService.Tests/obj/Debug/net6.0/UserCacheService.Tests.AssemblyInfo.cs
/Tests/UserCacheService.Tests/obj/Debug/net6.0/UserCacheService.Tests.AssemblyInfoInputs.cache
/Tests/UserCacheService.Tests/obj/Debug/net6.0/UserCacheService.Tests.assets.cache
/Tests/UserCacheService.Tests/obj/Debug/net6.0/UserCacheService.Tests.csproj.AssemblyReference.cache
/Tests/UserCacheService.Tests/obj/UserCacheService.Tests.csproj.nuget.dgspec.json
/Tests/UserCacheService.Tests/obj/UserCacheService.Tests.csproj.nuget.g.props
/Tests/UserCacheService.Tests/obj/UserCacheService.Tests.csproj.nuget.g.targets
/Tests/UserCacheService.Tests/obj/Debug/net6.0/UserCacheService.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Tests/UserCacheService.Tests/obj/Debug/net6.0/UserCacheService.Tests.GlobalUsings.g.cs
/.idea/.idea.UserCacheService/.idea/vcs.xml
